{% include "page/template.html.twig" %}
{% block content %}
<!DOCTYPE html>
<html>
<body>
    <h3>
        Contact
    </h3>
    <p class="description">
        numéro etc
    </p>
</body>
</html>
{% endblock %}