
{% include "page/template.html.twig" %}
{% block content %}

<!DOCTYPE html>
<html>
<head>
    <title> Louis Dupont </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    {% block stylesheets %}
        <link href="{{ asset('css/contact_style.css')}}" type="text/css" rel="stylesheet">
    {% endblock %}

    <p align="center">
        Louis Dupont
    </p>

</head>

<body>
    <p>
        <a class="work" href="http://127.0.0.1:8000/">Home</a>

        <a class="contact" >
            contact
        </a>
    </p>
    <h3>
        Contact
    </h3>
    <p class="description">
        numéro etc
    </p>
</body>
</html>
{% endblock %}
