<!DOCTYPE html>
<html>
<head>
    <ul>
        <li><a class="navbar" href="{{ path("HomePage") }}">Louis Dupont</a></li>
        <li><a class="navbar" href="{{ path("Contact") }}">Contact</a></li>
        <li><a class="navbar" href="{{ path("Galery") }}">Drawings Galery</a></li>
    </ul>
    <title> Louis Dupont </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    {% block stylesheets %}
        <link href="{{ asset('css/style.css')}}" type="text/css" rel="stylesheet">
    {% endblock %}
</head>

<body>
    {% block content %}
    {% endblock %}
    <p class="bottom"> tout droit réservé à l'auteur</p>
</body>
</html>