
html {
    overflow: auto;
}

.bottom {
    position: absolute;
    top: 2200px;
}

p {
    color: darkred;
    position: center;
}

.left {
    max-width: 40%;
    height: auto;
    position: absolute;
    left: 150px;
}

.right {
    max-width: 40%;
    height: auto;
    position: absolute;
    right: 150px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkred;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

li {
    float: left;
}

.navbar {
    width: 60px;
    color: white;
    text-align: center;
    padding: 14px 35px;
    text-decoration: none;
    display: inline-block;
    white-space : nowrap;
}


